doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.socket.io/socket.io-1.2.0.js") 
    script.
      var socket = io();
  body
    block content
